<ul>
  <li><%= @dog.name %>, <%= @dog.breed %></li>
</ul>
<a href="/dogs/<%= @dog.id %>/edit">Edit</a>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Dog">
</form>
